#divChronological {
    font-family: Arial, sans-serif;
}

#divChronological g {
    cursor: default;
}

#svgChronological label {
    font-size: 16px;
}

#svgChronological .month {
    font-size: 16px;
}

#svgChronological text.nodata {
    color: grey;
    font-size: 13px;
}    

#svgChronological .title {
    font-size: 25px;
}

#svgChronological .ring {
    stroke-width: 1px;
    stroke: black;
}

#svgChronological path.ratIcon:hover {
    fill: rgb(0, 0, 255);
}

#tooltip {
    font-family: Arial, sans-serif;
    position: absolute;
    display: none;
    background: white;
    border: 1px solid black;
    padding: 8px;
}
